Visual Studio
.vs/
*.user
*.suo
*.cache
*.vsidx

Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

Rider / ReSharper
_ReSharper*/
*.DotSettings.user

VS Code
.vscode/

OS files
Thumbs.db
Desktop.ini
.DS_Store

Logs
*.log